<form id="new-board">
  <label>Board Title<input type="text" name="board[title]"></input></label>

  <!-- <input type="hidden" name="board[board_assignments][user_id][]"
    value="<%= window.Trellino.user_id %>"> -->

  <input type="submit" value="Add Board"></input>
</form>