<div class="list-container-indiv">
  <h2><%= list.escape("title") %></h2>

  <div class="list-delete-container hide">
    <button class="list-delete" data-id="<%= list.escape("id") %>">(Delete)</button>
  </div>

  <ul class="ui-sortable" id="list-<%= list.escape("id")%>-cards"></ul>

  <div class="new-card-container hide">
    <div class="new-card-show-button">
      <button class="new-card-show">New Card</button>
    </div>
    <form class="new-card hide">
      <label>Card Title<input type="text" name="card[title]"></input></label>
      <label>Card Description<input type="text" name="card[description]"></input></label>

      <input type="submit" value="Add Card"></input>
    </form>
  </div>
</div>