<form id="new-list">
  <label>List Title<input type="text" name="list[title]"></input></label>
  <input type="hidden" name="list[rank]" value="<%= maxRank + 1 %>">

  <input type="submit" value="Add List"></input>
</form>